.b-page__content {
    min-height: 95px;
}
.b-head-decor {
    display: none;
}
.b-page_newyear .b-head-decor {
    background-image: url("img/balls/b-head-decor_newyear.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    display: block;
    height: 115px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.b-page_newyear .b-head-decor__inner {
    display: block;
    height: 115px;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
}
.b-page_newyear .b-head-decor::before {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.75);
    content: "";
    display: block;
    height: 115px;
    left: 0;
    position: absolute;
    top: -115px;
    width: 100%;
    z-index: 3;
}
.b-page_newyear .b-head-decor__inner_n2 {
    left: 373px;
}
.b-page_newyear .b-head-decor__inner_n3 {
    left: 746px;
}
.b-page_newyear .b-head-decor__inner_n4 {
    left: 1119px;
}
.b-page_newyear .b-head-decor__inner_n5 {
    left: 1492px;
}
.b-page_newyear .b-head-decor__inner_n6 {
    left: 1865px;
}
.b-page_newyear .b-head-decor__inner_n7 {
    left: 2238px;
}
.b-ball {
    position: absolute;
}
.b-ball_n1 {
    height: 83px;
    left: 3px;
    top: 0;
    width: 59px;
}
.b-ball_n2 {
    height: 70px;
    left: 51px;
    top: -19px;
    width: 55px;
}
.b-ball_n3 {
    height: 67px;
    left: 88px;
    top: 9px;
    width: 49px;
}
.b-ball_n4 {
    height: 102px;
    left: 133px;
    top: 0;
    width: 57px;
}
.b-ball_n5 {
    height: 57px;
    left: 166px;
    top: 0;
    width: 49px;
}
.b-ball_n6 {
    height: 70px;
    left: 200px;
    top: 6px;
    width: 54px;
}
.b-ball_n7 {
    height: 67px;
    left: 240px;
    top: 0;
    width: 56px;
}
.b-ball_n8 {
    height: 53px;
    left: 283px;
    top: 0;
    width: 54px;
}
.b-ball_n9 {
    height: 66px;
    left: 321px;
    top: 10px;
    width: 49px;
}
.b-ball_n1 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_n1.png") no-repeat scroll 0 0;
}
.b-ball_n2 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_n2.png") no-repeat scroll 0 0;
}
.b-ball_n3 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_n3.png") no-repeat scroll 0 0;
}
.b-ball_n4 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_n4.png") no-repeat scroll 0 0;
}
.b-ball_n5 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_n5.png") no-repeat scroll 0 0;
}
.b-ball_n6 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_n6.png") no-repeat scroll 0 0;
}
.b-ball_n7 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_n7.png") no-repeat scroll 0 0;
}
.b-ball_n8 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_n8.png") no-repeat scroll 0 0;
}
.b-ball_n9 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_n9.png") no-repeat scroll 0 0;
}
.b-ball_i1 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_i1.png") no-repeat scroll 0 0;
}
.b-ball_i2 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_i2.png") no-repeat scroll 0 0;
}
.b-ball_i3 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_i3.png") no-repeat scroll 0 0;
}
.b-ball_i4 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_i4.png") no-repeat scroll 0 0;
}
.b-ball_i5 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_i5.png") no-repeat scroll 0 0;
}
.b-ball_i6 .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_i6.png") no-repeat scroll 0 0;
}
.b-ball_ya .b-ball__i {
    background: rgba(0, 0, 0, 0) url("img/balls/b-ball_ya.png") no-repeat scroll 0 0;
}
.b-ball_i1 {
    height: 71px;
    left: 0;
    top: 0;
    width: 25px;
}
.b-ball_i2 {
    height: 27px;
    left: 25px;
    top: 0;
    width: 61px;
}
.b-ball_i3 {
    height: 31px;
    left: 176px;
    top: 0;
    width: 29px;
}
.b-ball_i4 {
    height: 51px;
    left: 205px;
    top: 0;
    width: 50px;
}
.b-ball_i5 {
    height: 28px;
    left: 289px;
    top: 0;
    width: 78px;
}
.b-ball_i6 {
    height: 69px;
    left: 367px;
    top: 0;
    width: 6px;
}
.b-ball__i {
    height: 100%;
    pointer-events: none;
    position: absolute;
    transform-origin: 50% 0 0;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.b-ball_bounce .b-ball__right {
    bottom: 0;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}
.b-ball_bounce:hover .b-ball__right {
    display: none;
}
.b-ball_bounce .b-ball__right:hover {
    display: block !important;
    left: 0;
}
.b-ball_bounce.bounce > .b-ball__i {
    transform: rotate(-9deg);
}
.b-ball_bounce .b-ball__right.bounce + .b-ball__i {
    transform: rotate(9deg);
}
.b-ball_bounce.bounce1 > .b-ball__i {
    transform: rotate(6deg);
}
.b-ball_bounce .b-ball__right.bounce1 + .b-ball__i {
    transform: rotate(-6deg);
}
.b-ball_bounce.bounce2 > .b-ball__i {
    transform: rotate(-3deg);
}
.b-ball_bounce .b-ball__right.bounce2 + .b-ball__i {
    transform: rotate(3deg);
}
.b-ball_bounce.bounce3 > .b-ball__i {
    transform: rotate(1.5deg);
}
.b-ball_bounce .b-ball__right.bounce3 + .b-ball__i {
    transform: rotate(-1.5deg);
}
